<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comgongju.moamoa.user.repository.UserMapper">
	
	<insert id="insertUserItems" parameterType="UserVO">
        INSERT INTO user(userIdx, userKakaoID, userName, userImage)
        VALUES(#{userIdx}, #{userKakaoID}, #{userName}, #{userImage})
    </insert>


</mapper>